<a href="https://colab.research.google.com/github/antonyjm462/Machine-learning/blob/master/Basic_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Pandas is a Data Manipulation and Analysis library for Python. The major advantage is, it can handle larger files with ease. It have a native data structure called DataFrame.

In [0]:
import pandas as pd

## The Dataset
This dataset consists of reviews of nearly 20,000 games, released over the past 20 years. The data is available on kaggle.com as a .csv file.

In [0]:
!wget "https://raw.githubusercontent.com/GokulDas027/5-days-tour-to-the-ML-world/master/Day%201/assets/ign.csv"

--2019-07-05 05:00:29--  https://raw.githubusercontent.com/GokulDas027/5-days-tour-to-the-ML-world/master/Day%201/assets/ign.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2019628 (1.9M) [text/plain]
Saving to: ‘ign.csv’

ign.csv             100%[===================>]   1.93M  --.-KB/s    in 0.06s

2019-07-05 05:00:30 (33.0 MB/s) - ‘ign.csv’ saved [2019628/2019628]

[20 Years of Games
18000+ rows of review data from ign.com](https://www.kaggle.com/egrinstein/20-years-of-games/version/2)

## pandas.read_csv() 

Pandas uses the read_csv() function to read the .csv file from the disk to a DataFrame object.

In [0]:
reviews = pd.read_csv("ign.csv")

## once the data is in a dataframe( ie:reviews ), pandas gives us 3 functions to easily display the data


 *   head( )
 *   tail( )
 * shape

In [0]:
# prints the first datas in the dataframe
reviews.head(4)

   Unnamed: 0 score_phrase  ... release_month release_day
0           0      Amazing  ...             9          12
1           1      Amazing  ...             9          12
2           2        Great  ...             9          12
3           3        Great  ...             9          11

[4 rows x 11 columns]

In [0]:
# prints the last datas in the dataframe
reviews.tail(2)

       Unnamed: 0 score_phrase  ... release_month release_day
18623       18623  Masterpiece  ...             6          28
18624       18624  Masterpiece  ...             6          28

[2 rows x 11 columns]

In [0]:
# prints the shape of the dataframe, (rows, columns)
reviews.shape

(18625, 11)

## iloc[ ] - allows us to display rows and columns by position using index values

In [0]:
reviews.iloc[0:10,3:7]

                                                 url  ...       genre
0             /games/littlebigplanet-vita/vita-98907  ...  Platformer
1  /games/littlebigplanet-ps-vita-marvel-super-he...  ...  Platformer
2                          /games/splice/ipad-141070  ...      Puzzle
3                      /games/nhl-13/xbox-360-128182  ...      Sports
4                           /games/nhl-13/ps3-128181  ...      Sports
5         /games/total-war-battles-shogun/mac-142565  ...    Strategy
6          /games/double-dragon-neon/xbox-360-131320  ...    Fighting
7                      /games/guild-wars-2/pc-896298  ...         RPG
8               /games/double-dragon-neon/ps3-131321  ...    Fighting
9          /games/total-war-battles-shogun/pc-142564  ...    Strategy

[10 rows x 4 columns]

## NOTE:  [ 1:N,: ] gives N-1 rows

In [0]:
reviews.iloc[1:3,:]

   Unnamed: 0 score_phrase  ... release_month release_day
1           1      Amazing  ...             9          12
2           2        Great  ...             9          12

[2 rows x 11 columns]

## loc[ ] - similar to iloc[ ] but allows indexing columns by column name.

In [0]:
reviews.loc[0:10,"genre"]

0     Platformer
1     Platformer
2         Puzzle
3         Sports
4         Sports
5       Strategy
6       Fighting
7            RPG
8       Fighting
9       Strategy
10      Fighting
Name: genre, dtype: object

## We can retrieve columns in pandas in a few different ways:


*   df.iloc[ : , 2 ]
*   df.loc[ : , "score" ]

In [0]:
reviews["score"].head()

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
Name: score, dtype: float64

## Series
columns in pandas dataframes are calles series. They can be very useful.


*   finding missing values
*   finding the mean, std dev, mode
*   finding unique values
*   and a hell lot more.

[check out pandas docs here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

In [0]:
type(reviews["score"])

pandas.core.series.Series

## before  clipping

In [0]:
reviews["score"][:10]

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
5    7.0
6    3.0
7    9.0
8    3.0
9    7.0
Name: score, dtype: float64

## after clipping

In [0]:
reviews["score"][:10].clip(8,10)

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
5    8.0
6    8.0
7    9.0
8    8.0
9    8.0
Name: score, dtype: float64

In [0]:
reviews["score"].mean()

6.950459060402666

## To find the year in which maximum number of games were released:

In [0]:
reviews["release_year"].mode()

0    2008
dtype: int64

In [0]:
reviews["release_year"].unique()

array([2012, 2013, 1996, 1970, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2014, 2015, 2016])

# Dealing with missing values

## There are 2 main ways to deal with missing values in the data.


*   substitution
*   dropping info

### if the column consists of a continuous range of numbers, substitution with the column mean would be a good choice
### if the column consists of categorical values, then substituting with the column mode would be a good choice

In [0]:
reviews.isnull()

       Unnamed: 0  score_phrase  ...  release_month  release_day
0           False         False  ...          False        False
1           False         False  ...          False        False
2           False         False  ...          False        False
3           False         False  ...          False        False
4           False         False  ...          False        False
5           False         False  ...          False        False
6           False         False  ...          False        False
7           False         False  ...          False        False
8           False         False  ...          False        False
9           False         False  ...          False        False
10          False         False  ...          False        False
11          False         False  ...          False        False
12          False         False  ...          False        False
13          False         False  ...          False        False
14          False         False  ...          False        False
15          False         False  ...          False        False
16          False         False  ...          False        False
17          False         False  ...          False        False
18          False         False  ...          False        False
19          False         False  ...          False        False
20          False         False  ...          False        False
21          False         False  ...          False        False
22          False         False  ...          False        False
23          False         False  ...          False        False
24          False         False  ...          False        False
25          False         False  ...          False        False
26          False         False  ...          False        False
27          False         False  ...          False        False
28          False         False  ...          False        False
29          False         False  ...          False        False
...           ...           ...  ...            ...          ...
18595       False         False  ...          False        False
18596       False         False  ...          False        False
18597       False         False  ...          False        False
18598       False         False  ...          False        False
18599       False         False  ...          False        False
18600       False         False  ...          False        False
18601       False         False  ...          False        False
18602       False         False  ...          False        False
18603       False         False  ...          False        False
18604       False         False  ...          False        False
18605       False         False  ...          False        False
18606       False         False  ...          False        False
18607       False         False  ...          False        False
18608       False         False  ...          False        False
18609       False         False  ...          False        False
18610       False         False  ...          False        False
18611       False         False  ...          False        False
18612       False         False  ...          False        False
18613       False         False  ...          False        False
18614       False         False  ...          False        False
18615       False         False  ...          False        False
18616       False         False  ...          False        False
18617       False         False  ...          False        False
18618       False         False  ...          False        False
18619       False         False  ...          False        False
18620       False         False  ...          False        False
18621       False         False  ...          False        False
18622       False         False  ...          False        False
18623       False         False  ...          False        False
18624       False         False  ...          False        False

[18625 rows x 11 columns]

In [0]:
reviews.isnull().sum()

Unnamed: 0         0
score_phrase       0
title              0
url                0
platform           0
score              0
genre             36
editors_choice     0
release_year       0
release_month      0
release_day        0
dtype: int64

## 1. Dropping info
###df.dropna() - drops all the rows of that dataframe that contain missing values.

In [0]:
dropped_reviews=reviews.dropna()

In [0]:
dropped_reviews.isnull().sum()

Unnamed: 0        0
score_phrase      0
title             0
url               0
platform          0
score             0
genre             0
editors_choice    0
release_year      0
release_month     0
release_day       0
dtype: int64

In [0]:
# previously it was (18625, 11)
dropped_reviews.shape

(18589, 11)

## 2. Substituting the missing data with suitable values
### df.fillna(X) - substitutes all the missing values with X

In [0]:
reviews["genre"].unique()

array(['Platformer', 'Puzzle', 'Sports', 'Strategy', 'Fighting', 'RPG',
       nan, 'Action, Adventure', 'Adventure', 'Action', 'Action, RPG',
       'Shooter', 'Music', 'Board', 'Racing', 'Strategy, RPG',
       'Racing, Action', 'Shooter, RPG', 'Simulation',
       'Action, Simulation', 'Flight, Action', 'Puzzle, Action',
       'Action, Compilation', 'Educational, Puzzle', 'Wrestling',
       'Fighting, Action', 'Productivity', 'Sports, Simulation',
       'Music, Action', 'Sports, Action', 'Party', 'Battle',
       'Puzzle, Adventure', 'Puzzle, Word Game', 'Card, Battle',
       'Simulation, Adventure', 'Compilation', 'Flight', 'Pinball',
       'Hunting', 'Casino', 'Sports, Racing', 'Fighting, Compilation',
       'Flight, Simulation', 'Trivia', 'Action, Platformer', 'Other',
       'Virtual Pet', 'Music, Editor', 'Sports, Editor',
       'Racing, Simulation', 'RPG, Editor', 'Educational, Action', 'Card',
       'Card, RPG', 'Wrestling, Simulation', 'Fighting, Adventure',
       'Sports, Compilation', 'RPG, Compilation', 'Flight, Racing',
       'RPG, Simulation', 'Shooter, Platformer', 'Fighting, RPG',
       'Card, Compilation', 'Hunting, Simulation', 'Pinball, Compilation',
       'Racing, Shooter', 'Racing, Editor', 'Other, Action',
       'Racing, Compilation', 'Adult, Card', 'Puzzle, Compilation',
       'Platformer, Action', 'Educational', 'Action, Editor',
       'Board, Compilation', 'Hunting, Action', 'Educational, Trivia',
       'Compilation, Compilation', 'Educational, Simulation',
       'Educational, Productivity', 'Adventure, Compilation',
       'Educational, Card', 'Educational, Adventure',
       'Fighting, Simulation', 'Music, Compilation',
       'Strategy, Compilation', 'Platformer, Adventure',
       'Other, Adventure', 'Adventure, Episodic', 'Adventure, Adult',
       'Puzzle, RPG', 'Sports, Fighting', 'Adventure, Platformer',
       'Action, Puzzle', 'Sports, Other', 'Compilation, RPG',
       'Shooter, First-Person', 'Adventure, Adventure', 'Sports, Party',
       'Sports, Baseball', 'Baseball', 'Music, RPG',
       'Productivity, Action', 'RPG, Action', 'Adventure, RPG',
       'Strategy, Simulation', 'Action, Strategy', 'Puzzle, Platformer',
       'Music, Adventure', 'Sports, Golf', 'Hardware',
       'Shooter, Adventure'], dtype=object)

In [0]:
st=reviews["genre"].mode()
st=st[0]
st

'Action'

In [0]:
reviews.isnull().sum()

Unnamed: 0         0
score_phrase       0
title              0
url                0
platform           0
score              0
genre             36
editors_choice     0
release_year       0
release_month      0
release_day        0
dtype: int64

In [0]:
subs_reviews=reviews.fillna(st)

In [0]:
subs_reviews.isnull().sum()

Unnamed: 0        0
score_phrase      0
title             0
url               0
platform          0
score             0
genre             0
editors_choice    0
release_year      0
release_month     0
release_day       0
dtype: int64

## Now that we have cleaned our data, lets convert it back into a csv file.
### df.to_csv("path.filename.csv") is a function to convert a pandas data frame back to a .csv file.

In [0]:
subs_reviews.to_csv('new_ign.csv')

##For further reading:

1.   [Pandas Docs](https://pandas.pydata.org/pandas-docs/stable/)
2.   [Pandas video tutorial by codebasics](https://www.youtube.com/watch?v=F6kmIpWWEdU)